body {
background-color: rgb(224, 224, 224);
text-align: center;
}

h1 {
  color: rgb(18, 83, 117);
  font-family: 'Rubik', sans-serif;
}

h2 {
  color:  rgb(214, 114, 48);
  font-size: 25px;
}

h3 {
  color:  rgb(214, 114, 48);
  font-size: 25px;
  padding-top: 50px;
}

.category9 {
background-image:
}

.category17 {
  background-image: 
}

.category11 {
  background-image: 
}